.chart {
	padding: 50px;
	min-height: 500px;
}

.competitor_selector {
	position: sticky;
	top: 75px;
	z-index: 200;
	margin-bottom: 20px;
}

@media (max-width: 536px) {
	.competitor_selector {
		top: 140px;
	}
}
